<div class="bg-yellow-50 h-[90vh] flex items-center justify-center" data-controller='captcha'>
  <div class="bg-white shadow-md rounded-lg p-6 w-80">
    <h1 class="text-3xl font-bold text-center mb-6 text-gray-800">
      Verify Captcha
    </h1>
    <% random_text = generate_unique_for_user(current_user) %>
    <%= form_with  model: Captcha.new, method: :post, class: "space-y-6", data: { turbo: true }, id: "captcha-form" do |f| %>
      <%= f.hidden_field :captcha_text, value: random_text %>
      <div class="text-center text-2xl font-bold text-yellow-700 bg-yellow-100 py-4 rounded-lg shadow-inner select-none">
        <%= random_text %>
      </div>

      <div class="flex items-center justify-between">
        <%= f.label :user_input, "Enter the Captcha", class: "block text-gray-700 font-medium mb-2" %>
        <div class="mb-2">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          <span id="time">13</span>
        </div>
      </div>
      <%= f.text_field :user_input, class: "mt-1 w-full border-2 border-gray-300 rounded-lg px-4 py-3 focus:outline-none focus:ring-4 focus:ring-yellow-400 focus:border-yellow-500 transition duration-200" %>

      <div>
        <%= f.submit "Verify", class: "w-full bg-yellow-500 text-white font-bold py-3 px-4 rounded-lg shadow-lg hover:bg-yellow-600 focus:outline-none focus:ring-4 focus:ring-yellow-300 transition duration-300 transform hover:scale-105" %>
      </div>
    <% end %>
  </div>
</div>
